body{
    background-color: whitesmoke;
    margin: 0px;
    padding: 3px;
}
section{
    width: 100%;
    height: 80vh;
    background-image:url(/Users/sophiazou/cse/artist.jpg);
    background-repeat :no-repeat;
    background-size: contain;
    position: contain;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: powderblue;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 0%;
    width: 100%;
}
nav ul{
    display: flex;
}
ul{
    list-style: none;
}
nav ul li a{
    margin: 30px;
    font-family: helvetica;
    color: indigo;
    font-weight: 700;
}
a{
    text-decoration: none;
}
.intro-box{
    background-color: thistle;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    width: 100;
    height: 500px;
    
}
.active{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(160, 95, 168);
    font-weight: bold;
    font-size: 30px;
}
.intro-font p:nth-child(1){
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: slateblue;
    font-weight: bold;
    font-size: 75px;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1px;
}
.intro-font p:nth-child(2){
    font-family: cursive;
    color: purple;
    font-weight: bold;
    font-size: 50px;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1px;
}
.intro-font p:nth-child(3){
    font-family: monospace;
    color: rgba(89, 5, 172, 0.404);
    font-weight: bold;
    font-size: 50px;
    padding: 0px;
    letter-spacing: 1px;
    line-height: 1px;
}
.logo{
    font-weight: 300px;
    color: maroon;
    font-family: monospace;
    font-size: 25px;
}
.box-container{
    display: flex;
    padding: 100px;
    justify-content: space-between;
}
.box-1{
    background-image: url(/Users/sophiazou/cse/walking.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-color: bisque;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.box-2{
    background-image: url(/Users/sophiazou/cse/ball.jpg);
    width: 200px;
    height: 100px;
    background-size: cover;
    background-color: bisque;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: contents;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
}
.column{
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 2px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
@media screen and (max-width:1300px){
    .column{
        -ms-flex:50%;
        flex:100%;
        max-width: 100%;
    }
}

@media screen and (max-width:1300px) {
    .column{
        -ms-flex:50%;
        flex: 100%;
        max-width: 100%;
    }
}
